.ourservices {
    padding: 20px;
    cursor: pointer;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
      text-align: center;
      text-transform: uppercase;
    }
  
    .ourservicesmain {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  
      .service-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 220px;
        text-align: center;
  
        img {
          height: 60px;
          width: 60px;
          margin-bottom: 20px;
        }
  
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
          color: #333;
        }
  
        p {
          font-size: 14px;
          color: #666;
          line-height: 1.5;
        }
  
        &:hover {
          transform: translateY(-5px);
          transition: transform 0.3s ease;
        }
      }
    }
  }
  